section.contacts#contacts
	.contacts-inner
		h2.contacts_header=contacts.header
		p.contacts_title=contacts.title
		form(action="#").contacts_form
			.contacts_form-input-line
				input.contacts_form-name-input(type="text" name="name" required placeholder=contacts.placeholder.name)
			.contacts_form-input-line
				input.contacts_form-email-input(type="email" name="email" required placeholder=contacts.placeholder.email)
			textarea.contacts_form-message-textarea(name="message" required placeholder=contacts.placeholder.message)
			button.button_send(type="submit")
				i.icon.icon-send-mail
				|#{contacts.send_button}
